#finishbt {
	background-color: white;
   	color: black;
   	padding: 0px 0px;
   	font-size: 6em;
    border: none;
 	text-align: center;
 	text-decoration: none;
 	display: inline-block;
  width: 13%;
  height: 10%;
    cursor: pointer;
    white-space:nowrap;	
    border-radius:100%;
    font-family:STXingkai;
}
* {
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
}  
#rtbutton {
	background-color: #008CBA;
    border: none;
    color: white;
   	padding: 15px 32px;
    text-align: center;
    text-decoration: none;
 	display: inline-block;
	font-size: 2.5em;
 	margin: 0.25em 0.25em;
    cursor: pointer;
    white-space:nowrap;	
    border-radius:0.5em;
}

		.biaoti{
   		 	color: red;
   			font-size: 7em;
		    text-align: center;
  	 	 	white-space:nowrap;
		}
		.wenzi1{
			text-align: center; /*IE*/
			text-align: -moz-center; /*Firefox*/
			text-align: -webkit-center; /*Chrome*/
    		color: black;
  	 	 	font-size: 4em;
  	 	 	white-space:nowrap;
		}
		.wenzi2{
			text-align: center;
	    	color: white;
	    	font-size: 2em;
  	 	 	white-space:nowrap;
		}
		.wenzi4{
			text-align: center;
	    	color: purple;
	    	font-size: 2em;
  	 	 	white-space:nowrap;
		}
		.wenzi3{
			position:relative;
			text-align:center;
			white-space:nowrap;overflow:hidden;text-overflow:ellipsis; 
			font-size: 2em;
		}
.footer{
    background-color:#323232;
    font-size:2.3em;
    color:white;
    text-align:center;
    margin:0;
    padding:0;
    width:100%;
	clear:both;
}
.foot{
    margin:0;
}
a {text-decoration: none}