.little_title{
    	text-align:center;
    }
    .little_title p{
    	font-size:20px;
    }
    .little_title strong{
    	font-size:25px;
    	margin-bottom:100px;
    }
    .little_title i{
    	font-size:12px;
    }