    @charset"utf-8";
    .head-title{
    	font-size:1.7vw;
    	color:white;
    	margin-top:2%;
    	margin-left:18%;
    }
    .head-title-xs{
    	font-size:4.5vw;
    	color:white;
    	text-align:center;
    	margin-top:2.5%;
    }
    .head-title-sm{
    	font-size:2.5vw;
    	color:white;
    	text-align:center;
    	margin-top:1%;
    }
    .head-button{
    	background-color:#323232;
    	height:100%;
    	font-size: 1.5vw;
    	color:white;
    }
	.head-button-xs{
    	background-color:#323232;
    	height:100%;
    	font-size: 3.5vw;
    	color:white;
    	margin-top: 3%;
    }
    .head-button:hover,.head-button-xs:hover,#flip1:hover,#flip2:hover{
    	color:#DADADA;
        text-decoration:none;
    }
    .head-button:active,.head-button-xs:active,#flip1:active,#flip2:active{
    	color:#B9B9B9;
        text-decoration:none;
    }
	.head-button:focus,.head-button-xs:focus,#flip1:focus,#flip2:focus{
    	color:#B9B9B9;
        text-decoration:none;
    }
    .dropdown-background{
    	background-color:#DADADA;
    	font-size:3vw;
    }
    #flip1{
    	font-size:4.5vw;
    	color:white;
    	text-align:center;
    	margin-top:5px;
    }
    #flip2{
    	font-size:2.5vw;
    	color:white;
    	text-align:center;
    	margin-top:5px;
    }
    .flip_contain{
    	background-color:#ADADAD;
    	margin-left:0; 
    	padding:4px;
    	font-size:16px;
    	width:125px;
    }
    .pane_button{
    	color:#464646;
    	border-bottom-color:#595959;
    	border-bottom-width:1px;
    	border-bottom-style:solid;
    }
    .butt{
    	color:#464646;
    }
    .butt:hover{
    	color:#616161;
    	text-decoration:none;
    }
    .butt:active{
    	color:#545454;
    	text-decoration:none;
    }
    .butt:visited{
    	color:#464646;
    	text-decoration:none;
    }
    .footer{
        background-color:#323232;
        font-size:12px;
        color:white;
        text-align:center;
        margin:0;
        padding:0;
        width:105%;
        position:absolute;
        bottom:0;
    }
    .foot{
        margin:0;
    }
    a.foot,a.foot:hover,a.foot:active,a.foot:visited{
        text-decoration:none;
    }
    ul.dropdown-menu{
        font-size:1.5vw;
    }